@charset "UTF-8";
/* CSS Document */


.btn-outline-inverse {
	/*border-color: #FFFFFF;	
	background-color: white;
	color: #374746;*/
	background-color: transparent;
	color: #000;
	/*border: 1px solid white;*/
	border: 1px solid #3680a9;
	
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.btn-outline-inverse:hover, .btn-outline-inverse:focus, .btn-outline-inverse:active {
	
	/*background-color: transparent;
	color: #FFFFFF;*/
	border-color: #3680a9;
	color: #374746;
	
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	
}

.btn-lg {
	margin-left: 10px;
	margin-right: 10px;
	width: 120px;

	border-radius: 0px;
}


.btn-xs {
	font-size: 10px;
	margin-left: 0px;
	margin-right: 3px;
	min-width: 50px;
	
	background-color: transparent;
	color: black;
	/*border: 1px solid white;*/
	border: 1px solid #999;
}

.btn-xs:hover, .btn-xs:focus, .btn-xs:active {
	border-color: white;
	background-color: transparent;
	color: white;
}

